input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#editForm {
    display: none;
}


td {
   
    padding: 5px;
}

html, body {
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(76,187,192,1) 35%, rgba(0,212,255,1) 100%);
}
*{
    color: white;
}